<div class="container mt-2" >
    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 animated-rigth">

            <div class="col animate__animated animate__backInRight" *ngFor="let item of desarrollos">
              <div class="card">
                <img src="../../../assets/img/desarrollos/{{item.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title color-1 ">{{item.title}}</h5>
                    <p class="card-text">{{item.description}}</p>
                </div>
                
              </div>
            </div>

    </div>
</div>