<div class="container-fluid">

    <div class="row ">
        <div class="col-12  d-flex justify-content-center">
            <img src="./../../../assets/img/perfil.jpg"  class="card-img-top  rounded-circle w-50" alt="">
        </div>
        <div class="col-12  d-flex justify-content-center">
            <h5 class="mt-2 color-1 fw-bold ">< David Carmona Herrera /> </h5>
        </div>
        <div class="col-12  m-2 d-flex justify-content-center">
            <p class="fw-semibold font-monospace">Desarrollador aplicaciones web y moviles, con habilidades en distintos lenguajes de programacion Backend y Frontend.</p>
        </div>
        <div class="col-12 m-2 d-flex justify-content-center">
            <p class="fw-semibold font-monospace">Entusiasta de la electronica y sus componentes, estudiante de Ingieneria Informatica.</p>
        </div>


    

    </div>

</div>



