
<div class="w-100 ">
    <!-- <img src="..." class="img-thumbnail" alt="..."> -->
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 col-xl-8">
            <h1>{{data.title}} </h1>

   
            <p class="text-muted">
                {{data.description}}
                ¿Qué tiene exactamente esta controversial, agresiva e indispensable aplicación para taxis que molesta a tanta gente? (Una pista: no es la intimidación, el machismo o el aumento de sus precios.)
            </p>
            <div class="d-flex flex-row bd-highlight mb-3 ms-1">
                <div class="mr-2">
                    <img alt=""  src="https://miro.medium.com/fit/c/60/60/1*s3RGmQX0Sv1O7n5DI7nu5w.jpeg" width="48" height="48" loading="lazy">
                </div>
                <div >
                    <span>by <strong>Ivan David Carmona Herrera</strong></span>
                    <br>
                    <i>Post rating: </i><ngb-rating [(rate)]="selected" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly"></ngb-rating>
                </div>
            </div>
            <div class="d-flex justify-content-center mb-3 ms-1">
                <img alt="" class="rounded" width="700" height="350" loading="eager" role="presentation" [src]="data.imagenHeader  | Imagen: 'developer-blog'">
            </div>
            <hr />
              <p [innerHtml]="data.content"></p>

        </div>
        
        <div class="col-12 col-lg-2 col-xl-2">

        </div>
        </div>
    </div>
   


