<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<nav aria-label="Main navigation">
    <div class="w-100">
        <app-navbar></app-navbar>
    </div>
</nav>

<main class="mt-4">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

    
</main>

<footer class="m-4">
    <div class="text-center mt-2">
        <div class="card-header">
          Desarrollado por - <i> Ivan David Carmona Herrera</i>
        </div>
        <div class="card-body">
          <h6 class="card-title">Este Sitio web, sigue en desarollo</h6>
          <p class="card-text pointer contacta" (click)="irContacme()">Contacta con el creador.</p>
        </div>
       
      </div>
</footer>

